<div class="row">
    <div class="col-4 pr-0">
        <img class="product-img" [src]="apiUrl + product.image" alt="{{product.name}}">
    </div>
    <div class="col-6 pr-0">
        <h4 class="product-name">{{product.name}}</h4>
        <h5 class="product-price">{{product.price}}đ</h5>
        <input type="text" class="form-control">
    </div>
    <div class="qty-spiner col-2 btn-group-vertical" role="group">
        <button type="button" class="btn btn-secondary" (click)="addProduct(product)">
        <i class="fas fa-angle-up"></i>
      </button>
        <input class="product-qty" type="text" value="0" readonly>
        <button type="button" class="btn btn-secondary" (click)="removeProduct(product)">
        <i class="fas fa-angle-down"></i>
      </button>
    </div>
</div>
<hr/>