<div class="container">

    <div class="row">
        <div class="col-12 col-md-6 col-xl-4" *ngFor="let product of products">
            <div class="row">
                <div class="col-4 pr-0">
                    <img class="product-img" [src]="apiUrl + product.image" alt="{{product.name}}">
                </div>
                <div class="col-6 pr-0">
                    <h4 class="product-name">{{product.name}}</h4>
                    <h5 class="product-price">{{product.price}}đ</h5>
                    <input type="text" class="form-control">
                </div>
                <div class="qty-spiner col-2 btn-group-vertical" role="group">
                    <button type="button" class="btn btn-secondary" (click)="addToCart(product)">
                        <i class="fas fa-angle-up"></i>
                    </button>

                    <input class="product-qty" type="text" [value]="1" readonly>

                    <button type="button" class="btn btn-secondary" (click)="removeFromCart(product)">
                        <i class="fas fa-angle-down"></i>
                    </button>
                </div>
            </div>
            <hr/>
        </div>
    </div>

    <footer class="bg-dark">
        <div class="footer-left">
            <button type="button" class="btn btn-primary mr-1" data-toggle="modal" data-target="#tableList">
                Bàn
                <span class="badge badge-light">{{ table.tableId }}</span>
            </button>
            <button type="button" class="btn btn-danger">
                Làm mới
            </button>
        </div>
        <div class="footer-right">
            <button type="button" class="btn btn-success">
                Đặt món
                <span class="badge badge-light">{{ table.totalPrice }}.000 đ</span>
            </button>
        </div>
    </footer>

    <div class="modal fade" id="tableList" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 90%" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div *ngFor="let table of tables" class="col-4 col-sm-3 col-md-2" style="padding: 5px">
                            <div class="card border-dark text-center" (click)="getSelectedTable(table)">
                                <div class="text-dark">
                                    <h2 class="card-title">{{table.tableId}}</h2>
                                    <h5>
                                        <strong>{{table.totalPrice}}đ</strong>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>